/* Style Sheet for resume.html */
body
{
background-color: #e6f2ff;
}

header{
height:15%;
}

nav
{
position:absolute; 
float:left; 
width:20%;
height:85%;
background-image:url("img/navbackground.jpg");
}

article
{
position:relative;
left:21%;
width:79%;
}

footer
{
position:relative;
left:21%;
width:79%;
margin-top:20px;
}

div.centerarticle
{
display:block;
vertical-align:middle;
width:79%;
}

div.floatright
{
float: right;
margin-left:5px;
}

h1.center
{
text-align:center;
}

h1.pagetitle
{
color: #1a88ff;
font-family: cursive;
text-align: center;
}

img.logol
{
float:left;
margin-right:5px;
}

img.floatright
{
float: right;
margin-left:5px;
}

hr.article
{
height:2px;
margin-left:0;
text-align:left;
}

td.sectionheader
{
background-color:#3c6cff;
color:#ffffff;
vertical-align: middle;
}

td.subsectionheader
{
background-color:#99b3ff;
color:#ffffff;
vertical-align: middle;
text-align: center;
}

td.alignright
{
text-align: right;
}

tr.center
{
text-align: center;
}

table.default
{
width: 100%;
border: 0px;
padding: 0px;
border-spacing: 3px;
background-color:#c6d1ff;
}